<% provide(:title, @user.name) %>
<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

</script>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br>
        <% if current_user.admin? %>
          id: <%= @user.id %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
      Height<br>
      <%= @user.height %><br>
      Weight<br>
      <%= @user.weight %><br>
      Birthday<br>
      <%= @user.date_of_birth %><br>
      Description<br>
      <%= @user.description %>
</div>


<h1>My courses listing</h1>

<div>
    <% @user_courses.each do |user_course| %>
    <tr>
      <%mycourse = Course.find(user_course.course_id)%>
      <td><%= link_to mycourse.name, mycourse %></td>

      <td>
        <% if current_user.admin? && !current_user?(user) %>
        <%= link_to 'Delete', user_course_path(user_course),
                                :method => :delete,
                                :data => { :confirm => "Are you sure?" },
                                :class => "btn btn-xs btn-danger" %>
        <% end %>
      </td>

    </tr>
    <% end %>
</div>
