<% provide(:title, @user.name) %>

<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

</script>

<div class="row">

  <div class="col-md-4 ">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br>
        <% if current_user.admin? %>
          id: <%= @user.id %>
        <% end %>
      </h1>
    </section>
  </div>

  <div class = "col-md-4">
      <br>
      <h5>Height</h5>
      <%= @user.height %><br>
      <h5>Weight</h5>
      <%= @user.weight %><br>
      <h5>Birthday</h5>
      <%= @user.date_of_birth %><br>
      <h5>Description</h5>
      <%= @user.description %><br>
  </div>

<div class = "col-lg-4">
    <br>
    <h4>My courses listing</h4>
    <% @user_courses.each do |user_course| %>
    <tr>
      <td><%mycourse = Course.find(user_course.course_id)%>
      <%= link_to mycourse.name, mycourse %></td>

      <td>
        <% if current_user?(@user) %>
        <%= link_to 'Delete', user_course_path(user_course),
                                :method => :delete,
                                :data => { :confirm => "Are you sure?" },
                                :class => "btn btn-xs btn-danger" %>
        <% end %>
      </td>

    </tr>
    <% end %>

<h4>Calendar</h4>
<div id="calendar">
  <% @user_courses.each do |user_course| %>
  <tr>
    <%mycourse = Course.find(user_course.course_id)%>
    <td><%= link_to mycourse.name, mycourse %></td>
    <td><%=  mycourse.start %></td>

  </tr>
  <% end %>
</div>
</div>

</div>
