
<% provide(:title, @gym.name) %>

<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gym.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gym.description %>
</p>

<p>gym courses list</p>

<div>
  <% @courses.each do |gym_course| %>
    <tr>
      <td>
        <%if gym_course%>
        <%= link_to gym_course.name , gym_course%>
        <%end%>
      </td>

    </tr>
  <% end %>
</div>


<% if @gym.user_id == current_user.id || current_user.admin %>
<%= link_to 'Edit', edit_gym_path(@gym) %>
<% end %>

<%= link_to 'Back', gyms_path %>
