<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <%= f.label "Instructor", class: "form-inputs"%>
    <%= collection_select( :course, :user_id, User.where(type: 'Instructor'), :id, :name, {}, {:multiple => false})%>



    <%= f.label :gym_id, class: "form-inputs"%>
    <%= collection_select( :course, :gym_id, Gym.all, :id, :name, {}, {:multiple => false})%>



    <%= f.input :limit %>
    <%= f.input :fee %>
    <%= f.input :start, min: Date.today%>
    <%= f.input :class_hour, lable:'Class hour' %>
  </div>


  <div class="form-actions">
    <button class = "btn btn-xs btn-primary"><%= f.button :submit ,:class => "btn btn-xs btn-primary"%></button>
  </div>
<% end %>
