<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>courses count: <%= @courses.count%></tr>
    <tr>
      <th>Name </th>
      <th>Instrutor </th>
      <th>Limit </th>
      <th>Fee </th>
      <th>Numberofenrolled </th>
      <th>Start </th>
      <th>End </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <% instrutor=User.find(course.user_id) %>
        <td><%= instrutor.name %></td>
        <td><%= course.limit %></td>
        <td><%= course.fee %></td>
        <td><%= course.numberofenrolled %></td>
        <td><%= course.start %></td>
        <td><%= course.end %></td>



        <td>
          <% if current_user.type == "manager"%>
          <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end %>
        </td>
        <td>
          <% if current_user.type == "manager"%>
          <%= link_to 'Edit', edit_course_path(course) %>
          <%end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
