<h1>New Course</h1>

<%= render 'form' %>

<h1>instructors and id</h1>
<div>

    <% @instructors.each do |instructor| %>
    <tr>
      <td><%= instructor.name%> | <%= instructor.id%></td>
    </tr>
    <% end %>
  
</div>

<h1>gyms and id</h1>
<div>
  <%if @gyms%>
    <% @gyms.each do |gym| %>
    <tr>
      <td><%= gym.name%> | <%= gym.id%></td>
    </tr>
    <% end %>
  <%end%>
</div>
<%= link_to 'Back', courses_path %>
