<p><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<p>
  <strong>Instrutor:</strong>
  <%if @course.user_id%>
    <%= @instrutor.name %>
  <%end %>
</p>
<p>
  <strong>Gym:</strong>
  <%= @gym.name %>
</p>
<p>
  <strong>Limit:</strong>
  <%= @course.limit %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @course.fee %>
</p>

<p>
  <strong>Number of Students:</strong>
  <%= @course.user_courses.count %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>Class hour:</strong>
  <%= @course.class_hour %>
</p>
<h2>Students in this Course</h2>
<br></br>
<table >

  <tb>
<div>
    <% @user_courses.each do |user_course| %>
    <tr>
      <%student = User.find(user_course.user_id)%>
      <td><%= link_to student.name, student %></td>

      <td>
        <% if current_user.admin? %>
        <%= link_to 'Delete', user_course_path(user_course),
                                :method => :delete,
                                :data => { :confirm => "Are you sure?" },
                                :class => "btn btn-xs btn-danger" %>
        <% end %>
      </td>

    </tr>
    <% end %>
  </div>


  </tb>
</table >
    <% if current_user.type != "Instructor" && current_user.type != "Manager" %>
      <%if @course.can_add_student?(current_user.id)%>
        <%= link_to 'Add to my Courses', user_courses_path(user: current_user, course_id: @course.id),
                 class: 'btn btn-xs btn-success', method: :post  %> |
      <%else%>
        <span class="label label-default">
          <%if !@course.under_course_limit?%>
          <%= @course.name %> is already full.
          <%end %>

          <%if @course.student_already_added?(current_user.id )%>
          You are already in this course.
          <%end%>
        </span>
      <%end%>
    <%end%>

    <% if current_user.admin || @manager == current_user %>
    <td><%= link_to 'Edit', edit_course_path(@course) ,:class => "btn btn-xs btn-info"%></td>
    <td><%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-xs btn-danger"%></td>
    <%end %>

  <%= link_to 'Back', courses_path ,:class => "btn btn-xs btn-danger"%>
