

    <tbody>		
      <% @guides.each do |guide| %>       
        <tr>
        	<td><a href="guides/<%=guide.id%>"><%= guide.id %></a></td>
          <td><a href="guides/<%=guide.id%>"><%= guide.title %></a></td>
          <td><%= guide.user_name %></td>
          <td><%= guide.created_at %></td>
          <td><%= guide.hits %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>

<br>

<%= will_paginate @guides %>
 
</div>