<% provide(:title, 'Search') %>
<h1>Search</h1>

<div class="container">
  
    <table class="table table-hover">
    <thead>
	  <tr>
	    <td>No</td>
	    <td>Title</td>
      <td>Name</td>
      <td>Created</td>
      <td>Hits</td>
	  </tr>  		
    </thead>

    <tbody>		
      <% @guides.each do |guide| %>       
        <tr>
        	<td><a href="guides/<%=guide.id%>"><%= guide.id %></a></td>
          <td><a href="guides/<%=guide.id%>"><%= guide.title %></a></td>
          <td><%= guide.user_name %></td>
          <td><%= guide.created_at %></td>
          <td><%= guide.hits %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>

<%= link_to 'New', new_guide_path, class: "btn btn-success" %>
<%= link_to 'Back', guides_path, class: "btn btn-primary" %>
<%= link_to 'Home', root_path, class: "btn btn-primary" %>  

<br>

<%= form_tag(guides_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Guides" %>
<%= submit_tag "Search" %>
<% end %>
<% if @guides.present? %>
  <%= render @guides %>
<% end %>
<%= will_paginate @guides %>
 
</div>