<% provide(:title, 'Health guides') %>

<style>
.table {
  table-layout:fixed;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
</style>

<div class="row">  
  
  <div class="col-md-9">
    <h1>Health guides</h1>

    <p> Guides Count : <%= @guides.total_entries %> 
    <%if @index_type == 'hits' %>
       (Displaying by hits)
    <%elsif @index_type == 'like' %>
       (Displaying by likes)  
    <%elsif @index_type == 'favo' %>
       (Displaying Your favorite guides) 
    <%elsif @index_type == 'mine' %>
       (Displaying all Your guides)          
    <%else%>
       (Displaying newest Guides)
    <% end %></p>

    <table class="table table-hover">
      <thead>
        <tr>
          <td class="col-md-1"><strong>No</strong></td>
          <td class="col-md-5"><strong>Title</strong></td>
          <td class="col-md-2"><strong>Name</strong></td>
          <td class="col-md-2" align="center"><strong>Created</strong></td>
          <td class="col-md-1" align="right"><strong>Hits</strong></td>
          <td class="col-md-1" align="right"><strong>Likes</strong></td>
        </tr>     
      </thead>

      <tbody>   
        <% @guides.each do |guide| %>       
          <tr>
            <td><a href="<%= url_for(@guide)/(guide.id)%> style="color:black"><%= guide.id %></a></td>
            <td><a href="<%= url_for(@guide)/(guide.id) %>" style="color:black" data-toggle="tooltip" title="<%= guide.title%>"><%= guide.title %></a></td>
            <td><%= guide.user_name %></td>
            <td><%= guide.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td align="right"><%= guide.hits %></td>
            <td align="right"><%= guide.likeps.count %></td>
          </tr>  
        <% end %>
      </tbody>
    </table>


<%= link_to 'New', new_guide_path, class: "btn btn-success" %> 
<%= link_to 'Home', root_path, class: "btn btn-danger" %>  

<%if @index_type != 'norm'%>
  <%= link_to 'Back', guides_path, class: "btn btn-primary" %>
<% end %>

<br>
<br>
<%if @index_type == 'norm' %>
  <div class="input-group" align="center"> 
  <div class="form-inline">
    <%= form_tag(guides_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], options={style:"width:400px;", placeholder: "Search Guides"} %>
    <%= button_tag(type: "submit", class: "btn" ) do%>
      <i class="glyphicon glyphicon-search" style="font-size:20px;"></i>
      Search
      <% end %>
    <% end %>
  </div>
  </div>
<% end %>

<% if !@guides.present? && params[:search] && !params[:search].blank? %>
  <p>There are no guides containing the term(s) <%= params[:search] %>.</p>
<%end%>

<% if @guides.present? && params[:search] && !params[:search].blank?%>
  <p>There are <%= @guides.total_entries %> guide(s) containing the term <%= params[:search] %>.</p>
  
  <br>
  
  <%= link_to 'Back', guides_path, class: "btn btn-primary" %>   
<%end%>
<%= will_paginate @guides %>

<% if !@guides.present? && params[:search].blank? %>
  <p>There are no guides to show .</p>
<%end%>

</div>

<div class="col-md-3">
    <table class="table ">
      <tr> 
        <td><ol>             
              <i><%= link_to 'Top Hits Guides', guides_path(:type => "hits"), {:class => "btn btn-danger btn-sm", :style=>'width:70%;'} %></i>
              <i class="glyphicon glyphicon-eye-open text-danger" style="font-size:30px;"></i>
              <% @guides_hi.each do |gh| %> 
                <li><a href="guides/<%=gh.id%>" style="color:black" data-toggle="tooltip" data-placement="top" title="<%= gh.title%>"><%= gh.title %></a>(<%= gh.hits%>)</li>               
              <% end %>
        </ol></td>            
      </tr>   
       
      <tr> 
        <td><ol>
              <i><%= link_to 'Top Likes Guides', guides_path(:type => "like"), {:class => "btn btn-primary btn-sm", :style=>'width:70%;'} %></i>  
              <i class="glyphicon glyphicon-thumbs-up text-primary" style="font-size:30px;"></i>
              <% @guides_li.each do |gl| %> 
                <li><a href="guides/<%=gl.id%>" style="color:black" data-toggle="tooltip" data-placement="top" title="<%= gl.title%>"><%= gl.title %></a>(<%= gl.likeps.count %>)</li>       
              <% end %>
        </ol></td>            
      </tr>   

      <tr> 
        <td><ol>   
              <i><%= link_to 'My Favorite Guides', guides_path(:type => "favo"), {:class => "btn btn-warning btn-sm", :style=>'width:70%;'} %></i>  
              <i class="glyphicon glyphicon-star text-warning" style="font-size:30px;"></i>
              <% @guides_fa.each do |gf| %> 
                <li><a href="guides/<%=gf.id%>" style="color:black" data-toggle="tooltip" data-placement="top" title="<%= gf.title%>"><%= gf.title %></a></li>       
              <% end %>
        </ol></td>            
      </tr>   

      <tr> 
        <td><ol>
              <i><%= link_to 'My Guides', guides_path(:type => "mine"), {:class => "btn btn-success btn-sm", :style=>'width:70%;'} %></i>              
              <i class="glyphicon glyphicon-pencil text-success" style="font-size:30px;"></i>
              <% @guides_my.each do |gm| %> 
                <li><a href="guides/<%=gm.id%>" style="color:black" data-toggle="tooltip" data-placement="top" title="<%= gm.title%>"><%= gm.title %></a>(<%= gm.hits%>)</li>                    
              <% end %>
        </ol></td>            
      </tr>   

    </table>   
  </div> 
</div> 

