<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
        <% if logged_in? %>
<<<<<<< HEAD
          <%= link_to "GoFit", current_user, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
=======

          <%= link_to "GoFit", current_user, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">

>>>>>>> e7629e842362b2a3c50fe57c5ff68ca01c3f3242
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Health Guides", guides_path %></li>
              <li><%= link_to "Map", map_index_url %></li>
              <li><%= link_to "Calories Calculator", calculator_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <%= link_to "GoFit", root_url, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
        <% end %>
      </ul>
    </nav>
  </div>
</header>
